body {
	margin: 0; 
	font: normal 14px/130% arial,verdana;}

a, a:hover {color: #FFF; text-decoration: none;}

#wrapper {
	position: relative; 
	overflow: hidden;
}

#inner-wrapper {
    width: 87.5%; 
    margin: 0 auto;
    background: linear-gradient(to top, #ffffff, #dcdfea);
    padding: 0px 0px 10px 0px; 
    
}
#header {
	height: 50px;
	/*background-color: #f28772; */
	
}

#content {
	min-height: 1000px;
	 overflow: hidden; 
	 padding: 10px auto; 
	 color: #000; 
	 position: relative;
	 left: 10px;
         margin: 40px auto;
	 }

#scrubber

{
	height: 40%; 
	width: 40%;
}


#scrubber img

{
	position: absolute; 
	left: 0%;



}

#right-part {
	width: 50%;
	margin: 10px auto;
	border: 2px white; 
	position: absolute; 
	left: 47%;
	z-index: 1;


}

#form
{
    width:470px; 
    margin:0 auto; 
    position: absolute; 
	top: 10%;
	left: 3%;
    z-index: 2;
   

}

.form input[type="text"] { 
	width: 100px;
     }


#footer {
	background: #f0f0f0; 
	height: 30px; 
	color: #777; 
	padding: 10px;
	margin: 0px 0 10px 0;
}

#chartContainer {
    
    position: absolute;
    top:70%;
    margin: 0 2%; 
}

