{% extends 'base.twig' %}

{% block main %}
    <div class="row text-center">
        <div class="col-sm-12 col-centered">
            <h1>Перелік доступних об'єктів керування</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-centered">
            {% for device in devices %}
                <article class="device">
                    <h2>
                        <a href="{{ path('show_device', { id: device.id }) }}">
                            {{ device.title }}
                        </a>
                        (має {{ device.records|length }} записів у базі)
                    </h2>
                </article>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <p>Немає жодного доступного об'єкту керування.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

