{% block footer %}
    <footer class="bg-primary">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; 2017 - Київ, КПІ, Катерина Гуза</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://www.facebook.com/kateryna.huza" title="Катерина Гуза, Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/kateryna-huza-153709b1/" title="Катерина Гуза, LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}