{% extends 'base.twig' %}

{% block main %}
    <div class="row text-center">
        <div class="col-sm-8 col-centered">

            <h1>МАГІСТЕРСЬКА ДИСЕРТАЦІЯ</h1>
            <h3>на тему: «Розробка SCADA системи на основі web-технологій»</h3>

            <div style="text-align: right; margin-top:10vh;">
                <div style="display: inline-block; text-align: right;">
                    <p style="float: right; text-align: left;">
                        <u>Виконала:</u><br/>
                        <br/>
                        Гуза К. М.<br/>
                        студентка VI курсу, ІХФ<br/>
                        група ЛА-51м<br/>
                        залікова книжка № ЛА-5103м
                    </p>
                </div>
            </div>
            <div style="margin: 5vh 0 0 0%;">
                <p align="left">
                    <u>Керівник магістерської дисертації:</u><br/>
                    к. т. н., доцент  Ковалюк Д. О.<br/>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

